<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="/login">FP-E-Learning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarsExample02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
<div class="wrapper fadeInDown">
    <div id="formContent">

        <form>
       
            <input [(ngModel)]="user.login" type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
            <input [(ngModel)]="user.password" type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
            <select [(ngModel)] ="user.type" class="form-control" name="type" >
                <option *ngFor="let t of usersTypes" value="{{ t }}">{{ t }}</option>
              </select>
            <input style="cursor: pointer;" (click)="onLogin()" type="submit" class="fadeIn fourth" value="Log In">
          </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="/register">Register</a>
      </div>
    </div>
  </div>
