<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="/login">FP-E-Learning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarsExample02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Register <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="wrapper fadeInDown">
  <div id="formContent">
      <form>
          <input  type="text" [(ngModel)]="userregister.nom" id="login" class="fadeIn second" name="nom" placeholder="Nom">
          <input  type="text" [(ngModel)]="userregister.prenom" id="login" class="fadeIn second" name="prenom" placeholder="Prenom">
          <input  type="text" [(ngModel)]="userregister.email" id="login" class="fadeIn second" name="email" placeholder="Email">
          <input  type="password" [(ngModel)]="userregister.password" id="password" class="fadeIn third" name="password" placeholder="Password">
          <input style="cursor: pointer;" (click)="save()" type="submit" class="fadeIn fourth" value="Register">
        </form>
  </div>
</div>

