<div class="row mb-3">
  <div class="col-xl-3 col-sm-6 py-2">
      <div class="card bg-success text-white h-100">
          <div class="card-body bg-success">
              <div class="rotate">
                  <i class="fas fa-chalkboard-teacher fa-4x"></i>
              </div>
              <h6 class="text-uppercase">Cours diponible</h6>
              <h1 class="display-4">{{ cours }}</h1>
          </div>
      </div>
  </div>
  <div class="col-xl-3 col-sm-6 py-2">
      <div class="card text-white bg-danger h-100">
          <div class="card-body bg-danger">
              <div class="rotate">
                  <i class="fas fa-chalkboard-teacher fa-4x"></i>
              </div>
              <h6 class="text-uppercase">Mes Cours</h6>
              <h1 class="display-4">{{ mesCours }}</h1>
          </div>
      </div>
  </div>
  <div class="col-xl-3 col-sm-6 py-2">
      <div class="card text-white bg-info h-100">
          <div class="card-body bg-info">
              <div class="rotate">
                  <i class="fas fa-chalkboard-teacher fa-4x"></i>
              </div>
              <h6 class="text-uppercase">Formateur</h6>
              <h1 class="display-4">{{ profs }}</h1>
          </div>
      </div>
  </div>
  <div class="col-xl-3 col-sm-6 py-2">
      <div class="card text-white bg-warning h-100">
          <div class="card-body">
              <div class="rotate">
                  <i class="fas fa-user-graduate fa-4x"></i>
              </div>
              <h6 class="text-uppercase">Etudiant</h6>
              <h1 class="display-4">{{ students }}</h1>
          </div>
      </div>
  </div>
</div>